* {
    box-sizing: border-box;
}

.blue {
    background-color: #0EE1E1;
}

#whatsapp {
    padding: 1em;
}

#row2 {
    direction: rtl;
}

.square {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    direction: rtl;
    text-align: center;
    margin: 1em;
}

.content {
    width: 60%;
}